.subnavbar {
	background-color: var(--secondary-color);
	padding: 20px 40px;
	display: flex;
	align-items: center;
	gap: 32px;
	border-radius: 4px;
	margin: 10px;
	border: 1px solid var(--border-color);
	/* border: 1px solid green; */
}

.subnavbar-label {
	display: flex;
	flex-direction: column;
	gap: 4px;

	/* border: 1px solid green; */
	/* border-right: 1px solid var(--border-color); */
}

.subnavbar-title {
	color: var(--text-primary);
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.subnavbar-subtitle {
	color: var(--accent-gold);
	font-family: Inter;
	font-size: 11px;
	letter-spacing: 0.5px;
}

.trophy-item {
	width: 180px;
	height: 60px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	gap: 12px;
	/* border: 1px solid green; */
	border-left: 1px solid var(--border-color);
	
}

.trophy-item.zero {
	opacity: 0.4;
}

.trophy-img {
	width: 48px;
	height: 48px;
	object-fit: contain;
}

.trophy-info {
	display: flex;
	flex-direction: column;
}

.trophy-name {
	color: var(--text-secondary);
	font-size: 11px;
	font-family: Inter;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.trophy-count {
	color: var(--text-primary);
	font-family: Inter;

	font-size: 22px;
	font-weight: 500;
}

.trophy-item.zero .trophy-count {
	color: var(--text-tertiary);
}
